extends layout

block content
  .row
    .span4
      h2 Links
      p: a.btn(href="/world") World &raquo;
      p: a.btn(href="/remote") Remote &raquo;

    .span4
      h2 Instructions
      ul
        li Open the World page
        li Open the Remote page
        li Draw on the remote with your finger
        li Watch chaos unfold in the World

