doctype 5
html

  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles


  body
    .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          .container
            a.brand #{title}

    .container
      block content
      hr
      footer
        a(href='https://github.com/palf/cannon_game') Source at Github
