doctype 5
html

  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles


  body
    .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          .container
            a.brand #{title}

    .container
      block content
      hr
      footer
        p You'll have to imagine your own sound effects
