extends layout


block styles
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  link(rel="stylesheet", href="/stylesheets/remote.css")
  //- script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")
  //- script(src="javascripts/third_party/socket.io.js")
  script(src="javascripts/third_party/hammer.js")



block content
  .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.brand #{title}

  .container


    #touch_area.drag

    script(src='/javascripts/remote_hammer.js')

    hr

    footer
      p Can you believe I do this for a living?

