extends layout


block styles
  link(rel="stylesheet", href="/stylesheets/remote.css")
  //- script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")
  script(src="javascripts/third_party/socket.io.js")
  script(src="javascripts/third_party/hammer.js")


block content
  #touch_area.drag
  script(src='/javascripts/remote_hammer.js')
  script(src='/javascripts/remote_socket.js')

