extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/world.css')
  script(src="/javascripts/third_party/Box2D.js")
  script(src="/javascripts/third_party/socket.io.js")
  script(src="/javascripts/box2d_test.js")
  script(src="/javascripts/world_entities.js")

block content
  canvas#world(width=960, height=480)
  script(src='/javascripts/world_init.js')

