extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/world.css')

block content
  h1= title
  p World!  #{title}



//-   <script src="../scripts/third_party/Box2D.js"></script>
//-   <script src="../scripts/third_party/socket.io.js"></script>
//-   <script src="../scripts/box2d_test.js"></script>
//-   <script src="../scripts/entity_types.js"></script>
//-   <link rel="stylesheet" href="../css/impulse.css" type="text/css">
//- </head>


//- <body>
//-   <canvas id="canvas" width=640 height=400 />
//-   <script src="../scripts/impulse_socket.js"></script>
//- </body>

//- </html>
